
body {
	background-color: #000;
	overflow: hidden;
	font-family: 'Ubuntu';
	font-size: 14px;
	color: #666;
}

canvas {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	cursor: pointer;
}

#p4 {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #666;
	display: none;
}

a:hover, #p4:hover {
	color: #fff;
}

h1 {
	display: none;
}

a {
	color: #666;
}

#meta {
	white-space: pre;
	line-height: 20px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 300px;
	width: 400px;
	height: 100px;
	text-align: center;

	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.5s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.5s;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0;
}

#meta.animate {
	opacity: 1.0;
}

